p Dear #{customer.name},
p
    strong Subscription Type:
    | #{subscription.plan.nickname}
p
    strong Plan ID:
    | #{subscription.plan.id}
p
    strong Invoice Number:
    | #{invoice.number}
p
    strong Invoice Date:
    | #{new Date(invoice.created * 1000).toLocaleDateString()}
p
    strong Total Amount:
    | #{(amountTotal / 100).toFixed(2)} #{currency.toUpperCase()}
p
    strong Payment Status:
    | #{paymentStatus}