mixin name(name)
    | #{firstName} #{lastName}

mixin greeting(name)
    | Hello&nbsp;
    +name(name)
    | ,

mixin pleaseNote
    h3 📝 Please note

mixin moreDetails
    p 👀 For more details, please sign-in with your @esn-heidelberg.com Google Account at 👉 [ESN Heidelberg Member Portal](https://member.esn-heidelberg.com).

mixin portalLink
    a.link(href='https://member.esn-heidelberg.com') ESN Heidelberg Member Portal

mixin passwordReset
    p 💡 If you've forgotten your password, don't worry, you can reset it by emailing us at [vorstand@esn-heidelberg.com](mailto:vorstand@esn-heidelberg.com).

mixin customerDetails(checkoutSession)
    h3 Customer Details
    p Name:
    +name(name)
    p Email: #{checkoutSession.customer_details.email}

mixin checkoutSuccessfulDetails(checkoutSession, subscription, plan)
    table.table
        tr
            td Plan:
            td #{plan.nickname} (#{plan.amount / 100}€ every #{plan.interval_count} #{plan.interval}s)
        tr
            td Automatic Renewal:
            td #{subscription.cancel_at_period_end ? 'No' : 'Yes'}
        tr
            td Renewal Date:
            - let date = new Date(subscription.current_period_end * 1000);
            td #{('0' + date.getDate()).slice(-2) + '.' + ('0' + (date.getMonth() + 1)).slice(-2) + '.' + date.getFullYear()}
        tr
            td Trial Days:
            td #{subscription.trial_end ? Math.floor((subscription.trial_end * 1000 - Date.now()) / (1000 * 60 * 60 * 24)) : 'No trial'}

mixin paymentMethodDetails(oldPaymentMethod, newPaymentMethod, subscription, plan)
    table.table
        tr
            td Previous Payment Method:
            if oldPaymentMethod.card
                td #{oldPaymentMethod.card.brand.charAt(0).toUpperCase() + oldPaymentMethod.card.brand.slice(1)} ending in #{oldPaymentMethod.card.last4} and expiring on #{oldPaymentMethod.card.exp_month}/#{oldPaymentMethod.card.exp_year}
            else if oldPaymentMethod.sepa_debit
                td SEPA Debit with IBAN ending in #{oldPaymentMethod.sepa_debit.last4}
        tr
            td New Payment Method:
            if newPaymentMethod.card
                td #{newPaymentMethod.card.brand.charAt(0).toUpperCase() + newPaymentMethod.card.brand.slice(1)} ending in #{newPaymentMethod.card.last4} and expiring on #{newPaymentMethod.card.exp_month}/#{newPaymentMethod.card.exp_year}
            else if newPaymentMethod.sepa_debit
                td SEPA Debit with IBAN ending in #{newPaymentMethod.sepa_debit.last4}
        tr
            td Plan:
            td #{plan.nickname} (#{plan.amount / 100}€ every #{plan.interval_count} #{plan.interval}s)
        tr
            td Automatic Renewal:
            td #{subscription.cancel_at_period_end ? 'No' : 'Yes'}
        tr
            td Renewal Date:
            - let date = new Date(subscription.current_period_end * 1000);
            td #{('0' + date.getDate()).slice(-2) + '.' + ('0' + (date.getMonth() + 1)).slice(-2) + '.' + date.getFullYear()}
        tr
            td Trial Days:
            td #{subscription.trial_end ? Math.floor((subscription.trial_end * 1000 - Date.now()) / (1000 * 60 * 60 * 24)) : 'No trial'}

mixin subscriptionDetails(subscription, status)
    h3 📚 Your updated Membership Details
    table.table
        tr
            td Plan:
            td #{subscription.plan.nickname} (#{subscription.plan.amount / 100}€ every #{subscription.plan.interval_count} #{subscription.plan.interval}s)
        tr
            td Automatic Renewal:
            td
                +periodEndDate(subscription)
        tr
            td Payment Method:
            td TODO###
        tr
            td Status:
            td #{status}

mixin cancellationDetails(subscription, status)
    h3 🚫 Cancellation Details
    table.table
        tr
            td Plan:
            td #{subscription.plan.nickname} (#{subscription.plan.amount / 100}€ every #{subscription.plan.interval_count} #{subscription.plan.interval}s)
        tr
            td Status:
            td #{status}

mixin cancellationDate(subscription)
  - let date = new Date(subscription.cancel_at * 1000);
      | #{('0' + date.getDate()).slice(-2) + '.' + ('0' + (date.getMonth() + 1)).slice(-2) + '.' + date.getFullYear()}

mixin periodEndDate(subscription)
  - let date = new Date(subscription.current_period_end * 1000);
      | #{('0' + date.getDate()).slice(-2) + '.' + ('0' + (date.getMonth() + 1)).slice(-2) + '.' + date.getFullYear()}

mixin signOff
    p Best regards,
    p Your ESN Heidelberg Team
    hr(style='margin: 10px 0')

mixin signature
    .signature-section
        p
            | Erasmus Student Network Heidelberg e.V.
            br
            | Postfach 12 04 31
            br
            | 69066 Heidelberg
        img(src="https://drive.usercontent.google.com/download?id=1TA9LRQkHgB950Lr86rB63j9YhH9yIWbN&export=download" alt="ESN Logo" style='width: 250px;')