extends layout

block styles
    link(rel="stylesheet" href="/bundle/admin.css")

block content
    .container.mt-5
        h1 Admin Page
        br
        table.table.table-striped.w-50
            thead
                tr
                    th Statistics
                    th Count
            tbody
                tr
                    td Users
                    td #{stats.totalUsers}
                tr
                    td Active Subscriptions
                    td #{stats.activeSubscriptions}
                tr
                    td Member
                    td #{stats.member}
                tr
                    td Member Trial
                    td #{stats.memberTrial}
                tr
                    td Alumni
                    td #{stats.alumni}
                tr
                    td Cancelled
                    td #{stats.cancelled}
                tr
                    td No Plan
                    td #{stats.noPlan}
        br
        br
        .table-responsive
            table#users-table.table.table-striped.table-bordered(data-order='[[ 0, "asc" ]]' data-page-length='100')
                thead
                    tr
                        th Name
                        th Emails
                        th Joined
                        th Org Unit
                        th Member Type
                        th Next payment
                        th Payment History
                        th Manage
                        th Cancel
                tbody
                    each user in users
                        tr
                            td= user.name.fullName
                            td= user.secondaryEmail ? user.secondaryEmail : ''
                            td= user.creationTime.split("T")[0]
                            - var orgUnitPaths = user.orgUnitPath.split("/")
                            - var orgUnit = user.orgUnitPath === '/' ? '/' : (orgUnitPaths.length > 2 ? orgUnitPaths[2] : orgUnitPaths[1])
                            td= orgUnit
                            td= user.planDisplayName ? user.planDisplayName : 'Never Paid'
                            td= user.subscription ? new Date(user.subscription.current_period_end * 1000).toISOString().split("T")[0] : '' 
                            td
                                if user.paymentHistory
                                    each invoice in user.paymentHistory
                                        div= new Date(invoice.created * 1000).toISOString().split("T")[0] + ': ' + invoice.total / 100 + ' ' + invoice.currency.toUpperCase()
                            td
                                if user.subscription
                                    button.btn.btn-primary.manage-btn(data-stripe-id=user.subscription.customer) Manage
                            td
                                if user.subscription
                                    button.btn.btn-danger.cancel-btn(data-user-email=user.primaryEmail) Cancel
            .d-flex.justify-content-between
                .dataTables_info.dataTables_info_custom
                .dataTables_paginate


    block scripts
        script(src="/bundle/admin.js")