extends layout

block content
    .container.mt-5
        input(type='hidden' id='memberId', value= process.env.SUBSCRIPTION_PRICE_ID_MEMBER_6MONTHS)
        input(type='hidden' id='alumniId', value= process.env.SUBSCRIPTION_PRICE_ID_ALUMNI_6MONTHS)
        if message
            div(class="alert alert-" + message.type + " d-flex justify-content-between align-items-center")
                p.mb-0= message.text
                button.btn-close(type='button' data-bs-dismiss="alert" aria-label="Close")
        h1 Hello, #{firstName} #{lastName}!
        .row.justify-content-center
            - var plans = ['Member', 'Alumni']
            each plan, index in plans
                .col-md-6.my-4
                    .price-card(class=subscription && subscription.items.data[0].price.id == (index === 0 ? memberId : alumniId) ? 'active-plan': '')
                        h2 #{plan}
                        .d-flex.align-items-center
                            if index === 0
                                p.price(id='member-price' class='mb-0') 5€
                            else
                                p.price(id='alumni-price' class='mb-0') 10€
                            p.period(id=(index === 0 ? 'member-period' : 'alumni-period'), class='text-secondary') (every 6 Months)
                        .separate-line
                        if index === 0
                            p.description Best for new and existing members
                        else
                            p.description For old members that wish to keep contributing
                        ul.perks
                            - var perks = index === 0 ? ['Full Membership'] : ['Full Membership', 'Alumni Benefit 1', 'Alumni Benefit 2']
                            each perk in perks
                                li= perk
                        if !subscription
                            form(action='/purchase' method='post' id='purchase-form')
                                input(type='hidden' name='priceId' id='priceId', value=(index === 0 ? process.env.SUBSCRIPTION_PRICE_ID_MEMBER_6MONTHS : process.env.SUBSCRIPTION_PRICE_ID_ALUMNI_6MONTHS))
                                input(type='hidden' name='_csrf', value=csrfToken)
                                input(type='hidden' name='paymentMethod' id='paymentMethod')
                                if index === 0
                                    .d-flex.justify-content-start.align-items-center
                                        input.form-check-input.trial-checkbox(type='checkbox' name='trialEnabled' id='trialEnabled1')
                                        label.form-check-label.ml-3.activate-membership(for='trialEnabled1') Activate new Membership Discount (first 6 Months free)
                                // Add checkbox to accept privacy policy
                                .d-flex.justify-content-start.align-items-center
                                    input.form-check-input.privacy-checkbox(type='checkbox' name='privacyPolicy' id='privacyPolicy' + (index + 1), required)
                                    label.form-check-label.ml-3.activate-membership(for='privacyPolicy' + (index + 1)) I accept the #[a(href='/privacy') Privacy Policy].
                                .payment-icons.d-flex.mb-3.justify-content-start
                                    button.btn.btn-light.active(type='button' name='paymentMethod' class='sepa mr-2 payment-option-border')
                                        img(src="/images/bank.svg" alt="SEPA")
                                        | SEPA
                                    button.btn.btn-light(type='button' name='paymentMethod' class='visa payment-option-border')
                                        img(src="/images/credit-card-fill.svg" alt="Credit Card")
                                        | Credit Card
                                button.btn.btn-primary Subscribe
                        if subscription && subscription.items.data[0].price.id == (index === 0 ? memberId : alumniId)
                            if subscription.cancel_at_period_end
                                form(action='/undo-cancel-subscription' method='POST')
                                    input(type='hidden' name='_csrf', value=csrfToken)
                                    button.btn.btn-primary(type="submit") Reactivate
                                    p Your #{plan} membership is cancelled and ESN benefits will dissapear on #{new Date(subscription.current_period_end * 1000).toLocaleDateString()}. Press "Reactivate" to keep your membership active.

                            else
                                button.btn.btn-secondary Active Plan
                                a(class='btn btn-primary', href=customerUrl) Manage Membership
                                form(action='/cancel-subscription' method='POST')
                                    input(type='hidden' name='_csrf', value=csrfToken)
                                    button.btn.btn-danger(type="submit") Cancel Membership
                        else if subscription
                            if subscription.cancel_at_period_end
                                form(method='POST' action='/change-subscription' id='change-subscription-form')
                                    input(type='hidden' name='newPlanId' id='newPlanId', value=(index === 1 ? process.env.SUBSCRIPTION_PRICE_ID_ALUMNI_6MONTHS : process.env.SUBSCRIPTION_PRICE_ID_MEMBER_6MONTHS))
                                    input(type='hidden' name='_csrf', value=csrfToken)
                                    button.btn.btn-primary(type='submit') Switch to #{plan}
                                    p Please note: Your cancellation will be undone and the new fees will be charged from #{new Date(subscription.current_period_end * 1000).toLocaleDateString()} on.
                            else 
                                form(method='POST' action='/change-subscription' id='change-subscription-form')
                                    input(type='hidden' name='newPlanId' id='newPlanId', value=(index === 1 ? process.env.SUBSCRIPTION_PRICE_ID_ALUMNI_6MONTHS : process.env.SUBSCRIPTION_PRICE_ID_MEMBER_6MONTHS))
                                    input(type='hidden' name='_csrf', value=csrfToken)
                                    button.btn.btn-primary(type='submit') Switch to #{plan}
                                    p Please note: Your new fees will be charged from #{new Date(subscription.current_period_end * 1000).toLocaleDateString()} on, however you will immediately be switched to #{plan}. If you switched by mistake, don't worry, you can switch back free of charge.


    block scripts
        script(src="/bundle/home.js")