extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/home') ESN Heidelberg Member Portal
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav')
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    form(action="/logout", method="POST").form-inline.my-2.my-lg-0
                        input(type='hidden', name='_csrf', value=csrfToken)
                        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Sign Out
    .container.mt-5
        if message
            div(class="alert alert-" + message.type)
                p= message.text
                button.close-alert(type='button') Ok
        h1 Hello, #{firstName} #{lastName}!

        if subscription
            p You are currently a #{subscription.plan.nickname} (#{subscription.plan.amount / 100}€ every 6 Months).
            a(class='btn btn-info', href=customerUrl) Change Personal Details
            p
            form(method='POST', action='/change-subscription')
                select(name='newPlanId')
                    each plan in plans
                        option(value=plan.id)
                            = plan.nickname
                input(type='hidden', name='_csrf', value=csrfToken)
                button(type='submit') Change Plan
            p
            form(action='/cancel-subscription', method='POST')
                input(type='hidden', name='_csrf', value=csrfToken)
                button.btn.btn-danger(type="submit") Cancel Membership
        else
            p
            p
            p You are currently not a member.
            table.table.table-striped.table-borderless.table-responsive-lg
                thead
                    tr
                        th(scope="col")
                        th(scope="col") Member
                        th(scope="col") Alumni
                tbody
                    tr
                        th(scope="row") Renewal Period:
                        td Every 6 months
                        td Annual
                    tr
                        th(scope="row") Price:
                        td 5€
                        td 10€
                    tr
                        th(scope="row")
                        td
                            form(action='/buy', method='post')
                                input(type='hidden', name='priceId', value=process.env.SUBSCRIPTION_PRICE_ID_MEMBER)
                                input(type='hidden', name='_csrf', value=csrfToken)
                                div.form-check
                                    input.form-check-input(type='checkbox', name='trialEnabled', id='trialEnabled1')
                                    label.form-check-label(for='trialEnabled1') New Member Discount
                                button.btn.btn-primary(type="submit") Join
                        td
                            form(action='/buy', method='post')
                                input(type='hidden', name='priceId', value=process.env.SUBSCRIPTION_PRICE_ID_ALUMNI)
                                input(type='hidden', name='_csrf', value=csrfToken)
                                button.btn.btn-primary(type="submit") Join
    block scripts
        script(src="/javascripts/alerts.js")