doctype html
html
    head
        title ESN Heidelberg Member Portal
        link(rel="icon" href="/images/favicon.png")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="/bundle/layout.css")

        block styles

    body(data-bs-theme="light")
        nav.navbar.navbar-expand-md.bg-dark.py-3.sticky-top.navbar-border(data-bs-theme="dark")
            .container
                a.navbar-brand.d-flex.align-items-center(href="/home")
                    span.bs-icon-sm.bs-icon-rounded.bs-icon-primary.d-flex.justify-content-center.align-items-center.me-2
                        img(src="/images/ESN_Heidelberg.svg" alt="ESN Heidelberg Logo" class="bi bi-bezier navbar-logo")
                    span &nbsp;ESN Heidelberg Member Portal
                if signedIn
                    button.navbar-toggler(data-bs-toggle="collapse" data-bs-target="#navcol-5")
                        span.visually-hidden Toggle navigation
                        span.navbar-toggler-icon
                .collapse.navbar-collapse#navcol-5
                    if signedIn
                        ul.navbar-nav.ms-auto
                            li.nav-item
                                a.nav-link(href="/home", class=page === 'home' ? 'active' : '') Home
                            li.nav-item
                                a.nav-link(href="/admin", class=page === 'admin' ? 'active' : '') Admin
                            form(action="/logout" method="POST")
                                input(type='hidden' name='_csrf', value=csrfToken)
                                button.btn.btn-primary.ms-md-2.logout-button(type="submit") Logout
                    else if route !== '/'
                        ul.navbar-nav.ms-auto
                            a.no-underline.btn.btn-primary.ms-md-2(href="/") Login

        block content
        script(src="/bundle/layout.js")


        footer.text-center.bg-dark
            .container.text-white.py-4.py-lg-5
                ul.list-inline
                    li.list-inline-item.me-4
                        a.no-underline.link-light(href="/imprint") Imprint
                    li.list-inline-item.me-4
                        a.no-underline.link-light(href="/privacy") Privacy Policy
                    li.list-inline-item
                        a.no-underline.link-light(href="https://github.com/fabsau/ESNHDMember") Version: #{process.env.APP_VERSION}
                p © #{new Date().getFullYear()} Erasmus Student Network Heidelberg e.V.